* text=auto

LICENSE.txt eol=crlf
ThirdPartyNotices.txt eol=crlf

*.bat eol=crlf
*.cmd eol=crlf
*.ps1 eol=lf
*.sh eol=lf
*.rtf -text
*.node -text -diff -merge
*.exe -text -diff -merge
*.dll -text -diff -merge
**/*.json linguist-language=jsonc
